In [1]:
from leukemia_extract import extract_data
from api_extraction import api_data_extraction
from api_transformations import process_world_bank_data
from merge import merge_dataframes
from dimensional_model_transform import process_dimensions
from gx_validations import validate_all
from load_data import export_to_postgres

In [2]:
leukemia_df = extract_data()

/home/v4lentin4/Leukemia-Cancer-Risk-ETL/airflow/functions/leukemia_extract.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query, con=conn.connection)

In [3]:
leukemia_df.shape

(143076, 23)

In [4]:
leukemia_df['country'].unique().tolist()

['china',
 'france',
 'brazil',
 'italy',
 'usa',
 'norway',
 'sweden',
 'russia',
 'india',
 'saudi arabia',
 'netherlands',
 'canada',
 'mexico',
 'south africa',
 'japan',
 'spain',
 'australia',
 'turkey',
 'germany',
 'argentina',
 'south korea',
 'uk']

In [5]:
api_df = api_data_extraction()

File /home/v4lentin4/Leukemia-Cancer-Risk-ETL/data/world_bank_data.csv already exists. Loading data from the file.

In [6]:
api_df = process_world_bank_data(api_df)
api_df.head()

,country,co2_emissions_per_capita,nuclear_energy_pct,agri_employment_pct,fertilizer_consumption,gdp_per_capita,pm25_pollution,undernourishment_rate,alcohol_consumption_liters
0,argentina,4.035680,5.484569,0.612884,255.653331,14187.482725,14.624551,3.4,7.69
1,australia,14.014672,0.000000,2.147565,252.374500,64820.911789,7.387603,2.5,10.57
2,brazil,2.271017,2.049616,8.202819,391.647128,10294.866681,14.927492,3.7,8.36
3,canada,14.340252,14.301098,1.271544,24.823229,53431.185706,7.795220,2.5,9.92
4,china,9.399266,4.667542,22.333710,98.189967,12614.061742,50.299193,2.5,5.26

In [7]:
api_df["country"].unique().tolist()

['argentina',
 'australia',
 'brazil',
 'canada',
 'china',
 'france',
 'germany',
 'india',
 'italy',
 'japan',
 'south korea',
 'mexico',
 'netherlands',
 'norway',
 'russia',
 'saudi arabia',
 'south africa',
 'spain',
 'sweden',
 'turkey',
 'uk',
 'usa']

In [8]:
df = merge_dataframes(leukemia_df, api_df)
df.head()

,id,age,gender,country,wbc_count,rbc_count,platelet_count,hemoglobin_level,bone_marrow_blasts,genetic_mutation,...,leukemia_status,living_status,co2_emissions_per_capita,nuclear_energy_pct,agri_employment_pct,fertilizer_consumption,gdp_per_capita,pm25_pollution,undernourishment_rate,alcohol_consumption_liters
0,1,52,Male,china,2698,5.36,262493,12.2,72,1,...,0,1,9.399266,4.667542,22.33371,98.189967,12614.061742,50.299193,2.5,5.26
1,2,15,Female,china,4857,4.81,277877,11.9,97,1,...,1,0,9.399266,4.667542,22.33371,98.189967,12614.061742,50.299193,2.5,5.26
2,12,3,Male,china,6973,5.60,295077,11.9,19,0,...,0,1,9.399266,4.667542,22.33371,98.189967,12614.061742,50.299193,2.5,5.26
3,56,60,Male,china,8233,5.50,194008,16.2,79,0,...,1,0,9.399266,4.667542,22.33371,98.189967,12614.061742,50.299193,2.5,5.26
4,62,78,Male,china,7685,5.09,354128,13.0,81,1,...,0,0,9.399266,4.667542,22.33371,98.189967,12614.061742,50.299193,2.5,5.26

In [9]:
print(df.isnull().sum().sort_values())

id                            0
pm25_pollution                0
gdp_per_capita                0
fertilizer_consumption        0
agri_employment_pct           0
nuclear_energy_pct            0
co2_emissions_per_capita      0
living_status                 0
leukemia_status               0
urban_rural                   0
socioeconomic_status          0
ethnicity                     0
immune_disorders              0
chronic_illness               0
undernourishment_rate         0
bmi                           0
radiation_exposure            0
alcohol_consumption           0
smoking_status                0
family_history                0
genetic_mutation              0
bone_marrow_blasts            0
hemoglobin_level              0
platelet_count                0
rbc_count                     0
wbc_count                     0
country                       0
gender                        0
age                           0
infection_history             0
alcohol_consumption_liters    0
dtype: int64

In [10]:
df.shape

(143076, 31)

In [11]:
df["country"].unique().tolist()

['china',
 'france',
 'brazil',
 'italy',
 'usa',
 'norway',
 'sweden',
 'russia',
 'india',
 'saudi arabia',
 'netherlands',
 'canada',
 'mexico',
 'south africa',
 'japan',
 'spain',
 'australia',
 'turkey',
 'germany',
 'argentina',
 'south korea',
 'uk']

In [12]:
df = process_dimensions(df)

In [13]:
print(df)

{'Fact_Leukemia':         patient_id  wbc_count  rbc_count  platelet_count  hemoglobin_level  \
0                1       2698       5.36          262493              12.2
1                2       4857       4.81          277877              11.9
2               12       6973       5.60          295077              11.9
3               56       8233       5.50          194008              16.2
4               62       7685       5.09          354128              13.0
...            ...        ...        ...             ...               ...
143071      142915       5107       4.90          275499              13.4
143072      142955       5936       4.68          271902              14.8
143073      142993       7750       5.48          222894              14.1
143074      143009       8380       5.34          285930              12.5
143075      143074       8261       5.06          230830               8.1

        bone_marrow_blasts   bmi  leukemia_status  living_status  \
0                       72  24.0                0              1
1                       97  28.7                1              0
2                       19  35.1                0              1
3                       79  27.4                1              0
4                       81  16.5                0              0
...                    ...   ...              ...            ...
143071                  17  27.0                0              0
143072                  90  23.6                0              0
143073                  80  24.4                0              0
143074                  38  17.6                1              1
143075                  94  27.3                0              0

        co2_emissions_per_capita  nuclear_energy_pct  agri_employment_pct  \
0                       9.399266            4.667542            22.333710
1                       9.399266            4.667542            22.333710
2                       9.399266            4.667542            22.333710
3                       9.399266            4.667542            22.333710
4                       9.399266            4.667542            22.333710
...                          ...                 ...                  ...
143071                  4.419946           14.267257             0.986474
143072                  4.419946           14.267257             0.986474
143073                  4.419946           14.267257             0.986474
143074                  4.419946           14.267257             0.986474
143075                  4.419946           14.267257             0.986474

        fertilizer_consumption  gdp_per_capita  pm25_pollution  \
0                    98.189967    12614.061742       50.299193
1                    98.189967    12614.061742       50.299193
2                    98.189967    12614.061742       50.299193
3                    98.189967    12614.061742       50.299193
4                    98.189967    12614.061742       50.299193
...                        ...             ...             ...
143071              209.379509    49463.855462       12.610761
143072              209.379509    49463.855462       12.610761
143073              209.379509    49463.855462       12.610761
143074              209.379509    49463.855462       12.610761
143075              209.379509    49463.855462       12.610761

        undernourishment_rate  alcohol_consumption_liters  region_id
0                         2.5                        5.26          1
1                         2.5                        5.26          1
2                         2.5                        5.26          1
3                         2.5                        5.26          1
4                         2.5                        5.26          1
...                       ...                         ...        ...
143071                    2.5                       10.95         22
143072                    2.5                       10.95         22
143073                    2.5                       10.95         22
143074                    2.5                       10.95         22
143075                    2.5                       10.95         22

[143076 rows x 18 columns], 'Dim_Region':     region_id       country
0           1         china
1           2        france
2           3        brazil
3           4         italy
4           5           usa
5           6        norway
6           7        sweden
7           8        russia
8           9         india
9          10  saudi arabia
10         11   netherlands
11         12        canada
12         13        mexico
13         14  south africa
14         15         japan
15         16         spain
16         17     australia
17         18        turkey
18         19       germany
19         20     argentina
20         21   south korea
21         22            uk, 'Dim_PatientInfo':         patient_id  age  gender socioeconomic_status urban_rural  \
0                1   52    Male                  Low       Rural
1                2   15  Female                  Low       Urban
2               12    3    Male               Medium       Urban
3               56   60    Male                  Low       Rural
4               62   78    Male                 High       Rural
...            ...  ...     ...                  ...         ...
143071      142915   12    Male               Medium       Rural
143072      142955   85    Male                  Low       Urban
143073      142993   69  Female                  Low       Urban
143074      143009   59    Male                  Low       Urban
143075      143074   64  Female                  Low       Urban

        medical_history_id
0                        1
1                        2
2                        3
3                        4
4                        5
...                    ...
143071                  11
143072                   1
143073                  79
143074                   6
143075                  16

[143076 rows x 6 columns], 'Dim_MedicalHistory':      medical_history_id  genetic_mutation  family_history  smoking_status  \
0                     1                 1               0               1
1                     2                 1               0               0
2                     3                 0               0               0
3                     4                 0               0               1
4                     5                 1               1               1
..                  ...               ...             ...             ...
250                 251                 1               1               1
251                 252                 1               0               1
252                 253                 1               1               1
253                 254                 1               1               0
254                 255                 1               0               1

     alcohol_consumption  radiation_exposure  infection_history  \
0                      0                   0                  0
1                      0                   0                  0
2                      0                   1                  0
3                      0                   0                  0
4                      0                   0                  1
..                   ...                 ...                ...
250                    1                   1                  1
251                    1                   1                  1
252                    1                   1                  1
253                    1                   1                  1
254                    1                   1                  1

     chronic_illness  immune_disorders
0                  0                 0
1                  0                 0
2                  0                 0
3                  0                 0
4                  1                 1
..               ...               ...
250                1                 0
251                1                 1
252                1                 1
253                0                 1
254                0                 1

[255 rows x 9 columns]}

In [14]:
validation_results = validate_all(df)
print(validation_results)

/home/v4lentin4/Leukemia-Cancer-Risk-ETL/venv/lib/python3.12/site-packages/great_expectations/expectations/expectation.py:1453: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(
Calculating Metrics: 100%|██████████| 2/2 [00:00<00:00, 222.95it/s]
/home/v4lentin4/Leukemia-Cancer-Risk-ETL/venv/lib/python3.12/site-packages/great_expectations/expectations/expectation.py:1453: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(
Calculating Metrics: 100%|██████████| 2/2 [00:00<00:00, 177.63it/s]
/home/v4lentin4/Leukemia-Cancer-Risk-ETL/venv/lib/python3.12/site-packages/great_expectations/expectations/expectation.py:1453: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(

Calculating Metrics: 100%|██████████| 2/2 [00:00<00:00, 144.77it/s]
/home/v4lentin4/Leukemia-Cancer-Risk-ETL/venv/lib/python3.12/site-packages/great_expectations/expectations/expectation.py:1453: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(
Calculating Metrics: 100%|██████████| 2/2 [00:00<00:00, 184.49it/s]

{'Fact_Leukemia': 'This action requires an active data context. Please call `great_expectations.get_context()` first, then try your action again.', 'Dim_Region': 'This action requires an active data context. Please call `great_expectations.get_context()` first, then try your action again.', 'Dim_PatientInfo': 'This action requires an active data context. Please call `great_expectations.get_context()` first, then try your action again.', 'Dim_MedicalHistory': 'This action requires an active data context. Please call `great_expectations.get_context()` first, then try your action again.'}

In [15]:
export_to_postgres(df)

Successfully connected to PostgreSQL database
Successfully exported Fact_Leukemia (143076 records)
Successfully exported Dim_Region (22 records)
Successfully exported Dim_PatientInfo (143076 records)
Successfully exported Dim_MedicalHistory (255 records)
Database connection closed